*{
  padding:0;
  margin:0;
}

/*
.header{
  width:100%;
  height:70px;
  background-color:#eef1f6;
}
*/

.left-bar-menu{
  width:15%;
  float:left;
  height:calc(100vh);
  background-color:#324157;
}

.right-banner{
  width:100%;
 /* height:50px;
  line-height:50px;*/
  float:left;
  background-color:#eef1f6;
}

.right-banner-item{
  float:left;
  height:50px;
  line-height:50px;
  margin-left:15px;
}

.right-banner-breadcrumb{

}


.right-banner-tag{
  margin:0 auto;
  margin-left:5px;
  cursor:pointer;
}
/*.fixed {*/
  /*position:fixed;*/
  /*top:0;*/
  /*left:300px;*/
/*}*/


.user-list{
  width:90%;
  padding:0 5%;
}
.clearFix:after{
  content: "";
  clear: both;
  display: block;
}
.accountMangement-nav-left {
  padding:20px 20px 20px 50px;
  width:500px;
  float:left;
}
.accountMangement-nav-right {
  padding-right:30px;
  padding-top:20px;
  width:200px;
  float:right;
}
.accountMangement-nav {
  background-color:#20a0ff;
}
.addAccount-nav {
  width:95%;
  padding:0 2.5%;
}
.dashed {
  width:100%;
  height:2px;
  background-color:#20a0ff;
  margin-bottom:10px;
}
.addAccount-input {
  width:200px;
}
.addAccount-list {
  width:30%;
  float:left;
  margin-right:5%;
  margin-bottom:20px;
  margin-left:100px;
  margin-top:20px;
  position:relative;
}
.addAccount-list>span {
  display:inline-block;
  width:80px;
}
.present {
  margin-left:100px;
}
.errors {
  position:absolute;
  right:-100px;
  bottom:10px;
  color:red;
  font-size:13px;
}
.roleList {
  padding:0;
  /*margin-left:-30px;*/
  font-size:18px;
  display:inline-block;
  position:absolute;
  left:-20px;
  top:-5px;
}
.el-dialog--small {
  width:65%;
}


